<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <title>Visual World News</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://unpkg.com/topojson@3"></script>
    
    <link rel="stylesheet" type="" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?extension=.js&output=embed&libraries=places"></script>
</head>

<body>
    <nav>
        <div class="nav-wrapper light-blue darken-3 z-depth-2">
            <a href="#" class="brand-logo">visualWorld.news</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><button class="btn-flat white-text modal-trigger" data-target="modal1">Sign up for mobile alerts</button></li>
            </ul>
        </div>
    </nav>
    <div id="map">
    </div>
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Sign Up for Text Alerts</h4>
            <div class="row">
                Enter your email to get a text when there is an increase of activity near the desired location.
            </div>
            <div class="row">
                <form class="col s12 phone-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="name" type="text" class="validate" name="name">
                            <label for="name">Full Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">phone</i>
                            <input id="phone_number" type="tel" class="validate" name="phone_number">
                            <label for="phone_number">Telephone</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">language</i>
                            <input id="searchTextField" type="text" class="validate form-control" autocomplete="on" runat="server" name="location" required>
                            <label for="searchTextField">Target Location</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="waves-effect waves-blue btn-flat sub">Submit</a>
        </div>
    </div>
    <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>

        <div class="spinner-layer spinner-red">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>

        <div class="spinner-layer spinner-yellow">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>

        <div class="spinner-layer spinner-green">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/places.js' %}"></script>
    <script>
    $(".sub").click(function () {
        console.log()
            var data = { "name": $("#name").val(), "phone_number": $("#phone_number").val(), "location": $("#searchTextField").val(), "csrfmiddlewaretoken": '{{ csrf_token }}'};
            console.log(data)
            $.post("/textAlert", data, function (d) {
                console.log(d)
            })
        })
    </script>
</body>

</html>